* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', "Roboto Condensed", monospace;
    scroll-behavior: smooth;
    scroll-margin-top: -20vh;
}

html {
    background-color: #f8f4f5;
}

.main-content {
    max-width: 1300px;
    margin: auto;
    float: none;
    padding: 12px;
}

h1 {
    padding: 240px 0 24px 0;
}


h2 {
    padding: 16px;
}

a {
    color: #fc006d;
    text-decoration: underline;
}

.tagline {
    margin-top: -24px;
    margin-bottom: 24px;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f8f4f5;
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

nav a {
    text-decoration: none;
    color: #010406;
    padding: 12px 12px;
    background-color: transparent;
}

nav a:hover {
    border-bottom: 2px solid #e0b61d;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
    color: #fc006d;
}

.logo:hover {
    border-bottom: 0;
}

button {
    padding: 12px 24px;
    font-size: 1rem;
    color: #f8f4f5;
    background: #fc006d;
    cursor: pointer;
}

button:hover {
    background: #041ade;
}

div {
    text-align: center;
}

.hero {
    padding-top: 80px;
}

.hero img {
    display: block;
    width: 90%;
    margin: 30px auto;
}

.about {
    width: 100%;
    padding: 15vh 0 30vh 0;
}

.mission-punchline {
    font-weight: 700;
    margin: -240px 0 24px 0;
    color: #e0b61d;
    font-size: 3rem;
}

.cards, .join{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.person{
    padding: 48px;
}

.project-card{
    padding: 36px;
    max-width: 40%;
    min-width: 300px;
}

.event{
    padding: 36px;
    max-width: 33%;
    min-width: 300px;
}

.join-column-left, .join-column-right {
    max-width: 50%;
    min-width: 300px;
}

.join-column-left ul {
    list-style-type: none;
    text-align: left;
}

form {
    max-width: 40%;
    min-width: 400px;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #89C3F4;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}



input[type=submit] {
    padding: 0.5rem 3rem;
    font-size: 1rem;
    color: #f8f4f5;
    background: #fc006d;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #041ade;
}

footer {
    margin-top: 96px;
    width: 100%;
    background-color: #010406;
    padding: 24px;
}

footer h2{
    color: white;
}

footer p{
    color: #e0b61d;
    padding-bottom: 1.5rem;
}

.fa img {
    width: 2rem;
}


@media (max-width: 786px) {
    .nav-items a{
        display: none;
    }
    form {
        max-width: 65%;
        min-width: 480px;
    }
}

@media (max-width: 480px) {
    .nav-items{
        display: none;
    }

    nav{
        justify-content: center;
        text-align: center;
    }
    form {
        max-width: 100%;
        min-width: 200px;
    }
}