:root {
    --background: #f8f4f5;
    --base: #010406;
    --complementary: #e0b61d;
    --accent: #fc006d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', "Roboto Condensed", monospace;
    scroll-behavior: smooth;
    scroll-margin-top: -20vh;
}

html {
    background-color: var(--background);
}

.main-content {
    max-width: 1300px;
    margin: auto;
    float: none;
    padding: 12px;
}

h1 {
    margin: 240px 0 24px 0;
}

h2 {
    padding: 16px;
}

a {
    color: var(--accent);
    text-decoration: underline;
}

.tagline {
    margin-top: -24px;
    margin-bottom: 24px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

nav a {
    text-decoration: none;
    color: var(--base);
    padding: 12px 12px;
    background-color: transparent;
}

nav a:hover {
    border-bottom: 2px solid var(--complementary);
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
    color: var(--accent);
}

.logo:hover {
    border-bottom: 0;
}

button {
    padding: 12px 24px;
    font-size: 1rem;
    color: var(--background);
    background: var(--accent);
    cursor: pointer;
}

button:hover {
    background: var(--complementary);
    color: var(--base);
}

div {
    text-align: center;
}

.hero {
    padding-top: 80px;
}

.hero-desktop {
    display: block;
    width: 90%;
    margin: 30px auto;
}

.hero-mobile {
    display: none;
}

.about {
    width: 100%;
    padding: 15vh 0 30vh 0;
}

.mission-punchline {
    font-weight: 700;
    margin: 0 0 24px 0;
    color: var(--complementary);
    font-size: 3rem;
}

.cards, .join{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.person{
    margin: 36px;
    padding: 12px;
}

.person img {
    width: 175px;
    border: var(--base) solid 4px;
    margin-bottom: 12px;
}

.presidents img {
    background-color: var(--accent);
    box-shadow: -8px 8px var(--complementary);
}

.vps img {
    background-color: var(--complementary);
    box-shadow: -8px 8px var(--accent);
}

.project-card{
    padding: 20px;
    margin: 16px;
    max-width: 40%;
    min-width: 300px;
    text-align: left;
    border: solid 4px var(--base);
    box-shadow: -20px 20px var(--complementary);

}

.event{
    padding: 20px;
    margin: 16px;
    max-width: 33%;
    min-width: 300px;
    text-align: left;
    border: solid 4px var(--base);
    box-shadow: -20px 20px var(--accent);
}

.join-column-left, .join-column-right {
    max-width: 50%;
    min-width: 300px;
}

.join-column-left ul {
    list-style-type: none;
    text-align: left;
    border: 4px solid var(--base);
    box-shadow: -12px 12px var(--complementary);
    padding: 16px;
}

form {
    max-width: 40%;
    min-width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: solid 4px var(--base);
    box-shadow: -20px 20px var(--complementary);
}

input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #89C3F4;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}



input[type=submit] {
    padding: 0.5rem 3rem;
    font-size: 1rem;
    color: var(--background);
    background: var(--accent);
    cursor: pointer;
    border-radius: 0;
}

input[type=submit]:hover {
    background: var(--complementary);
    color: var(--base);
}

footer {
    margin-top: 96px;
    width: 100%;
    background-color: var(--base);
    padding: 24px;
}

footer h2{
    color: var(--background);
}

footer p{
    color: var(--complementary);
    padding-bottom: 1.5rem;
}

.fa img {
    width: 2rem;
}


@media (max-width: 786px) {
    .nav-items a{
        display: none;
    }
    .hero-desktop {
        display: none;
    }

    .hero-mobile {
        display: block;
        width: 90%;
        margin: 30px auto;
    }
    form {
        max-width: 65%;
        min-width: 480px;
    }
}

@media (max-width: 480px) {
    .nav-items{
        display: none;
    }

    nav{
        justify-content: center;
        text-align: center;
    }

    form {
        max-width: 100%;
        min-width: 200px;
    }
}